/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/*$color-primary: #bd5d38;
$color-secondary: bisque;
$blush: #d34f73ff;  nao usadas*/

$burnt-sienna: #db7f67ff;
$tan: #dbbea1ff;
$cinereous: #a37b73ff;
$van-dyke: #3f292bff;

body{
  background-color: $tan;
}

.app-main-text{
  font-family: Jost;
}

.app-background{
  color: $tan;
  background-color: $burnt-sienna;
  border-radius: 10px ;
}

.app-logo{
  background-color: $tan;
  color: $van-dyke;
  border-radius: 10px ;
  padding: 5px;
}

.app-buttons{
  color: $van-dyke;
  background-color: $tan;

  &:hover{
    color: $tan;
    background-color: $van-dyke;
  }
}

.app-input{
  background-color: $tan;
  color: $van-dyke;
  border: none;
  border-radius: 5px;
}

.app-ranking{
  background-color: $van-dyke;
}